<% provide(:title, @title) %>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="title"><p><%= @title %></p></div>
  <div class="follow_user">
    <% if @users.any? %>
      <ul class="users follow">
        <%= render @users %>
      </ul>
      <%= will_paginate class: "center", previous_label: '&lt 前へ', next_label: '次へ &gt'%>
    <% end %>
  </div>
  </div>
</div>