<%unless @user == current_user%>
  <div id="follow_form">
    <% if current_user.following?(@user) %>
      <%= render "shared/unfollow", user: @user %>
    <% else %>
      <%= render "shared/follow" , user: @user %>
    <% end %>
  </div>
<%end%>
<div><%=simple_format(@user.self_introduction)%></div>